/* * {
	border: 1px dashed red;
} */


body {
    background: lightgrey;
    margin: 0;
}

.postWrapper {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.headerDiv {
    background-color: white;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
}

.headerDiv h1 {
    margin: 0px;
    padding: 1rem;
    width: 60%;
    
}

.postDiv {
    margin: 50px auto 0px auto;
    background-color: white;
}

.postDiv img {
    width: 100%;
    margin: 0px;
    align-items: center;
}

.postHeader{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.postHeader h2 {
    margin: 0px;
    width: 80%;
    padding: 1rem;
}

.postHeader span {
    padding-right: 1rem;
    width: 20%;
    text-align: right;
    color: gray;
}

.postBody {
    display: flex;
}

.postFooter p {
    padding: 1.5rem;
    margin: 0px;
}