* {
	border: 1px dashed red;
}


body {
    background: lightgrey;
    margin: 0;
}

.postWrapper {
    width: 600px;
    margin: auto;
}

.headerDiv {
    background-color: white;
    margin: 0 auto 0 auto;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 0px;
    justify-content: center;
}

h1 {
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

p {
    margin: 0px
}

.postDiv {
    margin: 40px auto 0px auto;
    position: relative;
    height: auto;
    background-color: white;
}

.postHeader{
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.postBody{
    height: 80%;
}

.postFooter{
    height: 10%;
}