* {
	border: 1px dashed red;
}


body {
    background: lightgrey;
    margin: 0;
}

.postWrapper {
    width: 600px;
    margin: auto;
}

.headerDiv {
    background-color: white;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
}

.headerDiv h1 {
    margin: 0px;
    padding: 10px;
    width: 600px;
}

.postDiv {
    margin: 50px auto 0px auto;
    background-color: white;
}

.postDiv img {
    width: 100%;
    margin: 0;
    align-items: center;
}

.postHeader{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postHeader h2 {
    margin: 0px;
    width: 80%;
    padding: 10px;
}

.postHeader span {
    padding-right: 10px;
    width: 20%;
    text-align: right;
    color: gray;
}

.postFooter p {
    padding: 10px;
    margin: 0px;
}